<nav class="bg-neutral-100 border-b border-neutral-300 font-sans">
  <div class="px-6 mx-auto py-5 flex justify-between items-center">
    <a class="text-xl font-bold text-gray-900" routerLink="/classroom-list"
      >ExamEase</a
    >

    <div class="hidden md:flex space-x-6 items-center">
      <a
        routerLink="/classroom-list"
        class="text-gray-700 hover:text-gray-900 font-semibold"
        >Classrooms</a
      >
      <a
        routerLink="/profile"
        class="text-gray-700 hover:text-gray-900 font-semibold"
        >Profile</a
      >
    </div>

    <!-- Mobile Menu Button -->
    <button class="md:hidden text-2xl text-gray-700" (click)="toggleMenu()">
      ☰
    </button>
  </div>

  <!-- Mobile Menu -->
  <div *ngIf="menuOpen" class="md:hidden bg-white border-t">
    <a
      routerLink="/classroom-list"
      class="block px-4 py-3 text-gray-700 hover:bg-gray-100"
      >Classrooms</a
    >
    <a
      routerLink="/profile"
      class="block px-4 py-3 text-gray-700 hover:bg-gray-100"
      >Profile</a
    >
  </div>
</nav>
